{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, 
            cumque nesciunt maiores hic ex beatae ab totam, magnam repellat ea et error aut? 
            Hic, nisi eum quisquam eveniet error placeat!

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, nesciunt. Quisquam esse repudiandae laborum dicta quam! Sed, repellendus tempora? Odit dolor sint reiciendis dignissimos impedit numquam ducimus dolore ab modi.
            Provident libero vitae velit aliquid voluptatibus a corporis! Veritatis aut tempora, nihil distinctio iste repellat quidem? Totam, ipsam! Voluptas eius deserunt obcaecati tempore, iure nulla deleniti debitis ea illum expedita.
            Consequatur corrupti eveniet optio voluptatem culpa, rem ab, aliquid rerum repellendus excepturi minus atque ipsa. Odit perferendis autem repellat facere cum quis pariatur, totam accusantium aspernatur. Nisi facilis provident ex?
            Dolorum dolor ab, incidunt molestiae animi iure, praesentium aliquid natus eveniet voluptatum nisi, illo voluptate omnis. Illum asperiores quod explicabo facilis, eum quos repellat itaque, quidem veniam assumenda consequatur amet!
            Labore quidem eligendi eius hic, a animi magni culpa, corporis vero obcaecati architecto dolores dicta magnam facere, ut iure illo rerum nulla? Dicta nesciunt nihil asperiores alias ex facere amet.
            Provident suscipit soluta omnis odit architecto, nihil quasi explicabo totam eos. Voluptatum pariatur quasi similique. A quos voluptate architecto, nulla sed, dicta harum cupiditate, maiores consectetur facere aspernatur tempora quo.
            Ipsa aliquid consequatur voluptate dolore possimus consectetur, dicta quod laborum quis, repellendus veritatis in maxime asperiores a dolores id sequi obcaecati vero deleniti, quae ab consequuntur explicabo inventore. Explicabo, temporibus.
            Cum minus ullam, ducimus error iusto modi, dolore beatae eligendi nisi provident aliquid! Deleniti dignissimos rem saepe dicta aliquam fugit dolorum natus voluptatum vel possimus magnam fugiat obcaecati, accusamus est.
            Eos veniam voluptates, nostrum quia ullam assumenda? Dolorum, sit aspernatur, nam neque hic impedit numquam odit quam natus veniam ratione aliquid provident odio cumque ut esse. Quasi illum beatae eos.
            Consectetur sequi voluptatibus quos officia, explicabo accusamus doloribus minus tempore officiis dicta temporibus quidem, commodi sit eos accusantium recusandae corrupti incidunt optio doloremque? Natus, magni doloremque? Iure mollitia eligendi natus?
            Vero voluptates ipsum culpa eligendi? Facere nihil quibusdam quia, porro dignissimos, veritatis odio ipsa reprehenderit totam mollitia optio earum praesentium aut at odit, repellat asperiores laudantium eius! Quo, assumenda quidem!
            Delectus, odio temporibus voluptatem quod velit molestias excepturi? In, nam! Modi tempore quam deleniti veritatis laudantium voluptas in culpa debitis quos a, soluta aut similique quia accusantium, enim, sapiente minus?
            Corrupti debitis veniam aut ratione non a, aliquid unde consequuntur, doloremque officiis blanditiis ipsam voluptatum alias totam nemo hic? Fuga a dicta vero, explicabo totam facilis molestiae eum cupiditate nobis.
            Architecto, ipsam! Recusandae praesentium culpa quasi optio mollitia tempora cupiditate magni delectus autem earum, modi, eveniet explicabo iste consequuntur assumenda illo? Odit itaque, delectus aperiam et natus cum in mollitia.
            Aliquam tempore voluptas ipsa dignissimos vel! Explicabo quod totam excepturi veritatis enim quas omnis a natus nobis dolore cumque unde nostrum beatae atque exercitationem velit recusandae perspiciatis autem, modi voluptates.
            Ipsum veritatis aperiam ipsam, dolorum sed non ducimus, perferendis illum consectetur provident voluptas minima similique! Dolorem, accusamus cum, voluptate tempore nostrum cumque, necessitatibus quas ducimus inventore provident aut ab maiores.
            Deleniti quibusdam possimus, praesentium nostrum eaque quae id, vero reiciendis minus maiores consequuntur magnam quidem, officia nesciunt. Et quidem quasi, illo placeat sapiente necessitatibus sequi inventore! Culpa fugiat magni blanditiis?
            Similique quibusdam asperiores molestiae officiis quam cum, ducimus non ipsum velit ex nisi eligendi. Atque, necessitatibus est amet quaerat, tenetur unde, iusto pariatur distinctio placeat sequi facere molestiae debitis. Iure?
            Vel dolores, deleniti quisquam dicta, voluptatem sint facere, dolore iure perspiciatis earum nesciunt rerum eaque iste voluptatibus quia accusantium temporibus eveniet numquam dolorem odit cum in vitae. Sapiente, eveniet provident?
            Est possimus rerum explicabo molestiae, ab iusto libero quam ipsum. In facere laboriosam odio quidem debitis veniam atque tempora ea quia soluta, provident tempore temporibus quas voluptatibus, itaque, saepe necessitatibus.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan_america.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}